@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

*{
    font-family: 'Covered By Your Grace', cursive;
}

#fundo-home{
    background-image: url(../imagens/fundo_piano.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

header{
    display: flex;
    position: fixed;
    width: 1354px;
    height: 100px;
    box-shadow: 2px 12px 20px black;
    background-color: #bbb7b5;
}

header div{
    width: 214px;
    position: relative;
    left: 600px;
    top: 25px;
}

header div h1{
    font-size: 42pt;
}

header nav a{
    font-size: 22pt;
    color: black;
    display: inline-flex;
    justify-content: space-around;
    width: 80px;
    position: relative;
    left: 860px;
    top: 25px;
}

header nav a:hover{
    color: white;
    text-decoration: none;
}

#corpo{
    height: 840px;
    margin-bottom: -20px;
    padding-top: 100px;
    box-shadow: 2px 16px 20px black;
}

#transparencia{
    height: 740px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: rgba(203,209,203, 80%);
}

#historia{
    padding: 60px;
}

#historia a{
    text-decoration: none;
    color: black;
}

.amostra-home{
    width: 260px;
    height: 200px;
    border: 3px dotted black;
    border-radius: 4px;
}

.amostra-home img{
    width: 250px;
    height: 190px;
    position: relative;
    top: 2px;
    left: 2px;
    border-radius: 4px;
}

#muda-fundo{
    width: 1110px;
    height: 330px;
    position: absolute;
    top: 120px;
    background-color: #bdb8b5;
    transition: 1s;
    opacity: 0.6;
    text-align: center;
    padding-top: 80px;
}

footer{
    margin-bottom: 0px;
    margin-top: 20px;
    height: 40px;
    background-color: #bdb8b5;
    text-align: center;
    box-shadow: 2px -16px 20px black;
}

footer p{
    margin: 0;
    padding-top: 10px;
}